[core]
copyFrom:"""
ROOT:/作战单位/战力模块.ini, 
ROOT:/作战单位/地面模块.ini, 
ROOT:/作战单位/陆军模块.ini
"""
#––「设定」––#
[hiddenAction_攻击范围]
alsoTriggerAction:陆军
[hiddenAction_陆军]
requireConditional:if not self.tags(includes="海") and not self.tags(includes="水")
temporarilyAddTags:陆军, 安全
[hiddenAction_作战中控]
autoTrigger:true
requireConditional:if numberOfUnitsInTeam(withTag="作战区块", withinRange=690)==0
spawnUnits:作战区块