#通用模块
[global_resource_AI阶段]
displayName:阶段
displayColor: #42F2DC
displayRoundedDown:false
[global_resource_每秒资金]
hidden:true
[global_resource_倍率]
hidden:true
[global_resource_概率]
hidden:true
[global_resource_信用]
displayName:信用
hidden:true
displayColor: #EFEF82
displayRoundedDown:false
[global_resource_时间]
displayName:游戏时间
displayColor: #FFFFFF
#FF0000
[global_resource_AI难度]
displayName:ai难度
displayColor: #DA2D00
hidden:true
[global_resource_队伍]
hidden:true