[core]
copyFrom:"""
ROOT:/作战单位/战力模块.ini, 
ROOT:/作战单位/地面模块.ini, 
ROOT:/作战单位/海军模块.ini
"""
#––「设定」––#
[hiddenAction_攻击范围]
alsoTriggerAction:海军
[hiddenAction_海军]
requireConditional:if self.tags(includes="海") or self.tags(includes="水")
temporarilyAddTags:海军
[hiddenAction_作战中控]
autoTrigger:true
requireConditional:if numberOfUnitsInTeam(withTag="海军区块", withinRange=690)==0
spawnUnits:海军区块

#––「攻击模块」––#
[hiddenAction_海军攻击]
autoTrigger:true
requireConditional:if numberOfUnitsInEnemyTeam(withTag="建造", withinRange=310, greaterThan=0) or numberOfUnitsInEnemyTeam(withTag="激光防御塔", withinRange=310, greaterThan=0) or numberOfUnitsInEnemyTeam(withTag="对地", withinRange=310, greaterThan=0)
alsoTriggerAction:攻击优先级
alsoTriggerOrQueueActionConditional:if self.tags(includes="安全") and not self.tags(includes="控距") and not self.tags(includes="已定制") and self.tags(includes="对地") and self.isAttacking and self.isControlledByAI and self.customTimer(laterThanSeconds=1) and numberOfUnitsInTeam(withTag="聚集", withinRange=500, greaterThan=0)
[hiddenAction_攻击优先级]
resetCustomTimer:true
addWaypoint_target_mapMustBeReachable:true
clearAllWaypoints:true
addWaypoint_type:attack
addWaypoint_target_nearestUnit_tagged:建造
addWaypoint_target_nearestUnit_maxRange:310
addWaypoint_target_nearestUnit_team:enemy
addWaypoint_triggerActionIfFailed:攻击激光
[hiddenAction_攻击激光]
addWaypoint_target_mapMustBeReachable:true
addWaypoint_type:attack
addWaypoint_target_nearestUnit_tagged:激光防御塔
addWaypoint_target_nearestUnit_maxRange:310
addWaypoint_target_nearestUnit_team:enemy
addWaypoint_triggerActionIfFailed:攻击对地
[hiddenAction_攻击对地]
addWaypoint_target_mapMustBeReachable:true
addWaypoint_type:attack
addWaypoint_target_nearestUnit_tagged:对地
addWaypoint_target_nearestUnit_maxRange:310
addWaypoint_target_nearestUnit_team:enemy